/* Write your CSS code here */
.Main-login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Main-login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.form-container {
  width: 30%;
  height: 450px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form-container {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.login-image {
  width: 190px;
  height: 130px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .login-image {
    width: 370px;
    height: 280px;
  }
}
.form-login {
  height: 60px;
  width: 100px;
}
.website-login {
  height: 60px;
  width: 100px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .form-login {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .website-login {
    display: none;
  }
}
.name-container {
  display: flex;
  flex-direction: column;
}
.password-container {
  display: flex;
  flex-direction: column;
}
.login-btn {
  background-color: #0967d2;
  border-radius: 8px;
  width: 180px;
  height: 30px;
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto;
  border: none;
  outline: none;
  margin-top: 10px;
}
.err-msg {
  color: #ff0b37;
  font-family: Roboto;
  font-size: 12px;
}
.label-name {
  color: #1e293b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
}
.name-box {
  margin-top: 6px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 180px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #d7dfe9;
}
