/* Write your CSS code here */
.nav-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.nav-sub-container {
  display: flex;
  justify-content: space-between;
}

.sub1-container {
  background-color: #e6f6ff;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .sub1-container {
    display: none;
  }
}
.icons {
  width: 20px;
  height: 20px;
}
.icon {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
}
.website-logo {
  width: 90px;
  height: 40px;
}
.unOrder-list {
  list-style-type: none;
  display: flex;
}
.list {
  color: #64748b;
  font-family: Roboto;
  font-size: 12px;
  padding-left: 10px;
  font-weight: 600;
}
.btn {
  background-color: #0b69ff;
  border-radius: 6px;
  width: 50px;
  height: 30px;
  color: #ffffff;
  font-family: Roboto;
  border: none;
  margin: 10px;
}
.sub2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .sub2-container {
    display: none;
  }
}
